<script>
// * PUT FIELDS IN PARENT STATE AND PASS AS PROPS
// Fields: [
//         { model: "EmployeeID", label: "Employee ID", type: "text" },
//         { model: "EmployeeName", label: "Employee", type: "text" },
//         { model: "Company", label: "Company", type: "text" },
//         { model: "Department", label: "Department", type: "text" },
//         { model: "Section", label: "Section", type: "text" },
//         { model: "Address", label: "Address", type: "text" },
//         { model: "Age", label: "Age", type: "number" },
//       ]
export default {
  props: ["fields", "toggle"],
  data() {
    return {
      data: {},
    };
  },
  methods: {
    save() {},
    close() {},
  },
  watch: {},
};
</script>

<template>
  <div>
    <pre>{{ data }}</pre>
    <v-card>
      <v-card-text class="pt-10" v-for="field in fields" :key="field.model">
        <v-text-field
          class="mb-n5"
          v-model="data[field.model]"
          :label="field.label"
          :type="field.type"
          outlined
          dense
        />
      </v-card-text>
    </v-card>
  </div>
</template>
