<template>
  <v-dialog v-model="empDetailsDialog" persistent width="500px">
    <v-toolbar dense>
      <v-toolbar-title>Edit Employee</v-toolbar-title>
      <v-spacer />
      <v-btn icon @click="closeEmpDetails()"><v-icon>mdi-close</v-icon></v-btn>
    </v-toolbar>

    <v-card>
      <v-container class="px-6">
        <v-alert dense outlined text type="warning" v-show="toggle">
          {{ warn }}
        </v-alert>
      </v-container>
      <v-card-text>
        <v-row>
          <v-col cols="4">
            <v-text-field
              v-model.lazy="empDets.empCode"
              label="Employee Code"
              outlined
              dense
              disabled
            />
          </v-col>
          <v-col cols="8">
            <!-- <v-text-field label="Employee Code" outlined dense></v-text-field> -->
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model.lazy="empDets.name"
              class="mt-n10"
              label="Employee Name"
              outlined
              dense
            />
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model.lazy="empDets.age"
              class="mt-n10"
              type="number"
              label="Age"
              outlined
              dense
            />
          </v-col>
          <v-col cols="6">
            <v-select
              v-model.lazy="empDets.gender"
              class="mt-n10"
              :items="genders"
              item-text="text"
              item-value="value"
              label="Gender"
              outlined
              dense
            />
          </v-col>
        </v-row>
      </v-card-text>

      <v-card-actions>
        <v-spacer />
        <v-btn color="success" @click="saveDets()"
          ><v-icon>mdi-content-save-plus</v-icon>save</v-btn
        >
        <v-btn color="error" @click="closeEmpDetails()"
          ><v-icon>mdi-cancel</v-icon>Cancel</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["editEmp", "warningEdit", "specificEmployee"],
  data() {
    return {
      empDetailsDialog: false,
      genders: [
        { value: "Female", text: "Female" },
        { value: "Male", text: "Male" },
      ],
      empDets: {},
      warn: null,
      toggle: false,
    };
  },
  methods: {
    closeEmpDetails() {
      this.$emit("closeEmpEditDetails", false);
      this.empDets = {};
      this.warn = null;
      this.toggle = false;
    },
    saveDets() {
      this.$emit("eeddiitt", this.empDets);
      this.warn = null;
      this.toggle = false;
    },
  },
  watch: {
    editEmp(val) {
      this.empDetailsDialog = val;
      if (!val) {
        this.empDets = {};
      }
    },
    warningEdit(val) {
      this.warn = val;
      this.toggle = val ? true : false;
    },
    specificEmployee(val) {
      this.empDets = val;
    },
  },
};
</script>

