<template>
  <v-card class="pa-7 ma-16 mt-5 elevation-7">
    <v-card-text>
      <v-text-field v-model="search" label="Search Employee" dense outlined>
      </v-text-field>
    </v-card-text>

    <v-spacer />

    <v-btn color="success" @click="openEmpDetails()">
      <v-icon>mdi-plus</v-icon> ADD
    </v-btn>

    <!-- data able -->
    <!-- <v-data-table
      dense
      :headers="header"
      :items="filteredEmployees"
      item-key="name"
      class="elevation-1"
    ></v-data-table> -->

    <!-- simple table -->
    <v-simple-table class="myTable" dense elevation-1>
      <col style="width: 10%" />
      <col style="width: 10%" />
      <col style="width: 50%" />
      <col style="width: 10%" />
      <col style="width: 10%" />
      <col style="width: 10%" />

      <thead>
        <tr>
          <th class="text-center">Num</th>
          <th class="text-center">Employee Code</th>
          <th class="text-center">Name</th>
          <th class="text-center">Age</th>
          <th class="text-center">Gender</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, i) in filteredEmployees" :key="i">
          <td class="text-center">{{ i + 1 }}</td>
          <td class="text-center">{{ item.empCode }}</td>
          <td>{{ item.name }}</td>
          <td class="text-center">{{ item.age }}</td>
          <td class="text-center">{{ item.gender }}</td>
          <td class="text-center">
            <v-btn icon color="warning" @click="editEmpDetails(item.empCode)">
              <v-icon>mdi-pencil-circle-outline</v-icon>
            </v-btn>
            <v-btn icon color="error" @click="deleteEmp(i)">
              <v-icon>mdi-delete-circle-outline</v-icon>
            </v-btn>
          </td>
        </tr>
      </tbody>
    </v-simple-table>
    <EmpDetails
      :edState="edState"
      @closeEmpDetails="closeEmpDetails"
      @saveEmpDets="saveEmpDets"
      :warning="warning"
    />
    <EmpDetailsEdit
      :editEmp="editEmp"
      @closeEmpEditDetails="closeEmpEditDetails"
      @eeddiitt="eeddiitt"
      :warningEdit="warningEdit"
      :specificEmployee="specificEmployee"
    />
  </v-card>
</template>

<script>
import EmpDetails from "../components/empDetails.vue";
import EmpDetailsEdit from "../components/empDetailsEdit.vue";
export default {
  components: {
    EmpDetails,
    EmpDetailsEdit,
  },
  data() {
    return {
      edState: false,
      editEmp: false,
      search: "",
      employeeList: [
        { name: "Mar", age: 24, gender: "Male", empCode: "12345" },
        { name: "Fern", age: 24, gender: "Male", empCode: "2345" },
        { name: "JJ", age: 28, gender: "Male", empCode: "3456" },
        { name: "Joy", age: 23, gender: "Female", empCode: "4567" },
        { name: "Jan", age: 23, gender: "Male", empCode: "5678" },
      ],
      header: [
        { text: "name", value: "name" },
        { text: "age", value: "age" },
        { text: "gender", value: "gender" },
      ],
      warning: null,
      warningEdit: null,
      codeIndex: null,
      specificEmployee: null,
    };
  },
  methods: {
    openEmpDetails() {
      this.edState = true;
      this.warning = null;
    },
    closeEmpDetails(val) {
      this.edState = val;
      this.warning = null;
    },
    closeEmpEditDetails(val) {
      this.editEmp = val;
    },
    saveEmpDets(val) {
      const empCodeCheck = this.employeeList.filter(
        (data) => data.empCode == val.empCode
      ).length;

      // const empCodeCheck = this.employeeList.findIndex(
      //   (data) => data.empCode == val.empCode
      // );
      // if (empCodeCheck != 1) {
      //   return (this.warning = "Employee code already exists.");
      // }

      if (empCodeCheck > 0) {
        return (this.warning = "Employee code already exists.");
      } else {
        if (val.empCode && val.name && val.age && val.gender) {
          this.employeeList.push(val);
          this.edState = false;
        }

        return (this.warning = "Some fields are empty.");
      }
    },
    deleteEmp(val) {
      this.employeeList.splice(val, 1);
    },
    editEmpDetails(val) {
      const empCode = this.employeeList.findIndex(
        (data) => data.empCode == val
      );

      this.editEmp = true;
      this.codeIndex = empCode;
      this.specificEmployee = this.employeeList[empCode];
    },
    eeddiitt(val) {
      if (val.empCode && val.name && val.age && val.gender) {
        this.editEmp = false;
        // this.employeeList[this.codeIndex].empCode = val.empCode;
        this.employeeList[this.codeIndex].name = val.name;
        this.employeeList[this.codeIndex].age = val.age;
        this.employeeList[this.codeIndex].gender = val.gender;
      } else {
        return (this.warningEdit = "Some fields are empty.");
      }
    },
  },
  computed: {
    filteredEmployees() {
      return this.employeeList.filter((data) => {
        return (
          data.name.toLowerCase().includes(this.search.toLowerCase().trim()) ||
          data.age.toString().includes(this.search.trim()) ||
          data.gender.toLowerCase() == this.search.toLowerCase().trim()
        );
      });
    },
  },
};
</script>

<style scoped>
.myTable tr,
th,
td {
  border: 1px solid black;
}
</style>
