<template>
  <div>
    <v-app-bar app color="green" dark>
      <v-app-bar-nav-icon @click="navDraw = !navDraw"></v-app-bar-nav-icon>
    </v-app-bar>

    <v-navigation-drawer v-model="navDraw" app dark>
      <v-list>
        <v-list-item
          v-for="(item, index) in navList"
          :key="index"
          :to="item.to"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title>
            {{ item.title }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: "NavBar",
  data() {
    return {
      navDraw: false,
      navList: [
        { title: "Home", icon: "mdi-home", to: "/" },
        { title: "About", icon: "mdi-information", to: "/About" },
        { title: "Employee", icon: "mdi-account-group", to: "/Employee" },
        { title: "UI PREVIEW", icon: "mdi-account-key-outline", to: "/ui" },
      ],
    };
  },
};
</script>
